.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display:flex;
  height: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*min-height: 100vh;*/
}
.secondaryHeader {
  display:flex;
  height: 5px;
  justify-content: center;
  align-content: center;
  /*padding: 10px;*/
  align-items: center;
  background-color: slategray;
}

.App-link {
  color: #61dafb;
}
main {
  flex-grow: 1;
  background-color: lightsteelblue;
}
footer {
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #EEEEEE;
  font-size: small;
  text-align: center;
}
header {
  padding: 25px;
}

